body {
    background: -moz-linear-gradient(left, #ffffff 70%, #82808a 100%);
    background: -webkit-linear-gradient(left, #ffffff 70%, #82808a 100%);
    background: linear-gradient(to right, #ffffff 70%, #82808a 100%);
}
  
h1, h2 {
    font-family: 'Roboto', sans-serif;
    color: rgb(48, 48, 48);
    text-align: center;
    opacity: 1;
}
  
ul, li {
    font-family: 'Roboto', sans-serif;
    list-style-type: circle;
}


p {
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    color: rgb(48, 48, 48)
}
  
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

img {
    border-radius: 50%;
    box-shadow: -3px -3px;
}

/* El asterisco implica que lo establecido afecta a todos los elementos */
* {
    box-sizing: border-box;
}

section {
    border: 3px solid black;
    padding: 10px;
    margin: 20px;
    position: relative;
    columns: 200px 3;
    text-align: center;
    position: center;
}

header {
    position: center;
    columns: 200px 1;
}

footer {
    display: block;
    position: relative;
    float: left;
}

#special {
    border: 3px solid rgb(4, 73, 4);
    padding: 10px;
    margin: 20px;
    columns: 200px 1;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    columns: 200px 1;
}

aside {
    border: 3px solid rgb(0, 0, 0);
    width: 30%;
    padding: 10px;
    margin: 20px;
    float: right;
    columns: 200px 1;
    font-style: italic;
    background-color: rgb(255, 255, 255);
    text-align: center;
}

#skills {
    columns: 200px 1;
    width: 50%;
    float: left;
    position: left;
    border: 3px solid black;
    padding: 10px;
    margin: 20px;
    text-align: left;
}